In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dingle,PH,2022-10-22 18:33:00,10.9995,122.6711,76.24,91,100,5.28
1,1,Bali Chak,IN,2022-10-22 18:33:01,22.3667,87.5500,73.69,76,100,7.65
2,2,Rikitea,PF,2022-10-22 18:33:01,-23.1203,-134.9692,71.38,81,100,22.55
3,3,Chapais,CA,2022-10-22 18:33:02,49.7834,-74.8492,55.18,60,77,10.02
4,4,Mataura,NZ,2022-10-22 18:33:02,-46.1927,168.8643,42.75,83,12,3.00

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

InvalidWeightException: -2.81 is not a valid weight. Weights must be non-negative.

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
   
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
   
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dingle,PH,2022-10-22 18:33:00,10.9995,122.6711,76.24,91,100,5.28
5,5,Sorong,ID,2022-10-22 18:33:03,-0.8833,131.2500,78.48,88,100,7.54
8,8,Hilo,US,2022-10-22 18:33:06,19.7297,-155.0900,77.29,96,100,4.61
9,9,Butaritari,KI,2022-10-22 18:31:49,3.0707,172.7902,80.82,69,100,10.16
11,11,Mount Isa,AU,2022-10-22 18:33:08,-20.7333,139.5000,77.49,23,0,7.78
15,15,Kudahuvadhoo,MV,2022-10-22 18:33:10,2.6708,72.8944,81.46,73,43,15.95
19,19,Kavaratti,IN,2022-10-22 18:33:14,10.5669,72.6420,81.55,77,24,5.77
23,23,Tessalit,ML,2022-10-22 18:33:17,20.1986,1.0114,82.45,15,100,10.83
24,24,Loandjili,CG,2022-10-22 18:33:18,-4.7561,11.8578,77.94,87,44,8.48
34,34,Marsh Harbour,BS,2022-10-22 18:33:26,26.5412,-77.0636,79.09,67,3,14.14

In [14]:
preferred_cities_df.count()

City_ID       176
City          176
Country       172
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0          Dingle      PH     76.24  10.9995  122.6711
5          Sorong      ID     78.48  -0.8833  131.2500
8            Hilo      US     77.29  19.7297 -155.0900
9      Butaritari      KI     80.82   3.0707  172.7902
11      Mount Isa      AU     77.49 -20.7333  139.5000
15   Kudahuvadhoo      MV     81.46   2.6708   72.8944
19      Kavaratti      IN     81.55  10.5669   72.6420
23       Tessalit      ML     82.45  20.1986    1.0114
24      Loandjili      CG     77.94  -4.7561   11.8578
34  Marsh Harbour      BS     79.09  26.5412  -77.0636

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [42]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Dingle,PH,76.24,10.9995,122.6711,SEGAYA PROPERTY
5,Sorong,ID,78.48,-0.8833,131.2500,Waigo Splash Hotel
8,Hilo,US,77.29,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Butaritari,KI,80.82,3.0707,172.7902,Isles Sunset Lodge
11,Mount Isa,AU,77.49,-20.7333,139.5000,ibis Styles Mt Isa Verona
...,...,...,...,...,...,...
552,Umm Lajj,SA,80.85,25.0213,37.2685,Moon light Furnished Units
553,Fare,PF,78.91,-16.7000,-151.0167,Maitai Lapita Village Huahine
554,Sao Desiderio,BR,87.10,-12.3633,-44.9733,POUSADA BOM SOSSEGO
555,Manali,IN,84.29,13.1667,80.2667,Sarathy Lodge
557,Cotonou,BJ,82.38,6.3654,2.4183,Novotel Cotonou Orisha

In [43]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [47]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))